{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="bg-white p-6 rounded-lg shadow-lg">
  <h1 class="text-3xl font-bold mb-6">About Us</h1>
  <p>Welcome to our blog! Here, we share daily insights on technology,
    spiritual growth, and everything in between. Our goal is to inspire,
    educate, and help people grow both technically and spiritually, also other feed from our users like news Fashion
    Education ETC.</p>
  <p class="mt-4">
    This blog is managed by <strong>Oluwasegun Ogunniyi</strong>, a passionate technologist
    and spiritual growth advocate. With years of experience in the tech world and a
    strong faith background, he aims to merge the two to offer value-driven content
    for both tech enthusiasts and spiritual seekers.
  </p>
  <p class="mt-4">
    Feel free to contact us anytime:
    <br><strong>Phone:</strong> 09058421038
    <br><strong>Email:</strong> forbylimted@gmail.com
  </p>
</div>
{% endblock %}